#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    behaviors {
        ht: hold_tap {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            flavor = "tap-preferred";
            tapping-term-ms = <220>;
            quick-tap-ms = <150>;
            require-prior-idle-ms = <100>;
            bindings = <&kp>, <&kp>;
        };
        
        tdx_Q: tap_dance_1 {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            tapping-term-ms = <200>;
            bindings = <&kp Q>, <&kp LG(Q)>;
        };

        tdw_LRP: tap_dance_2 {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            tapping-term-ms = <200>;
            bindings = <&kp LPAR>, <&kp RPAR>;
        };

        tdx_LRB: tap_dance_3 {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            tapping-term-ms = <200>;
            bindings = <&kp LBKT>, <&kp RBKT>;
        };

        tdx_LRR: tap_dance_4 {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            tapping-term-ms = <200>;
            bindings = <&kp LBRC>, <&kp RBRC>;
        };

        tdx_LRA: tap_dance_5 {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            tapping-term-ms = <200>;
            bindings = <&kp LT>, <&kp GT>;
        };

        tdx_BOL: tap_dance_6 {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            tapping-term-ms = <200>;
            bindings = <&kp LG(LEFT)>, <&kp HOME>;
        };

        tdx_EOL: tap_dance_7 {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            tapping-term-ms = <200>;
            bindings = <&kp LG(RIGHT)>, <&kp END>;
        };
    };
    
    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
&kp ESC     &kp Q        &kp W        &kp E       &kp R       &kp T                          &kp Y    &kp U       &kp I       &kp O        &kp P     &kp BSLH
&kp TAB     &ht LSHFT A  &ht LCTRL S  &ht LALT D  &mt LGUI F  &kp G                          &kp H    &ht RGUI J  &ht RALT K  &ht RSHFT L  &kp SEMI  &kp BSPC
&kp LSHIFT  &kp Z        &kp X        &kp C       &kp V       &kp B                          &kp N    &kp M       &kp COMMA   &kp DOT      &kp FSLH  &kp RCTRL
                                      &kp SPACE   &kp DEL     &kp RET  &kp SPACE  &kp SPACE  &kp TAB  &kp BSPC    &kp RALT
            >;
        };
    };
};

